body {
    font-family: 'Arial', sans-serif;
    background-color: #e6f0ff; /* Light blue background */
    margin: 0;
    padding: 0;
}

header {
    background-color: #003366; /* Dark blue */
    color: white;
    padding: 20px 0;
    text-align: center;
    border-bottom: 4px solid #66ccff; /* Light blue border */
}

nav {
    margin: 15px 0;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    margin: 0 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: #66ccff; /* Light blue on hover */
    color: black;
}

main {
    padding: 20px;
}

section {
    margin: 40px 0;
}

h2 {
    text-align: center;
    color: #003366; /* Dark blue */
    margin-bottom: 20px;
    font-size: 2em;
}

.menu-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.menu-item {
    padding: 20px;
    flex: 1 1 calc(30% - 40px);
    margin: 10px;
    text-align: center;
    border: 2px solid #003366; /* Dark blue border */
    border-radius: 8px;
    transition: transform 0.2s, box-shadow 0.2s;
    background-color: #ccf2ff; /* Light blue background for items */
}

.menu-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 51, 102, 0.4); /* Dark blue shadow on hover */
}

.menu-title {
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
}

.price {
    margin-top: 10px;
    font-size: 1.2em;
    color: #003366; /* Dark blue price color */
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #003366; /* Dark blue footer */
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}